<div class="jumbotron">
    <div class="container">
        <h1>Contact Us</h1>
<p>Let me know what you think of the app. I can be reached at my <a href="https://twitter.com/lewisbancroft">twitter account</a></p>
    </div>
</div>

